body {
  align-items: center;
}

ul {
  text-decoration: none;
}
.home img{
  max-height: 90%;
  max-width: 100%;
  border-radius: 3px;
  position: absolute;
  bottom: 20%;
}

.menu {
  position: relative;
}

.menu ul {
  list-style: none;
}