body {
  align-items: center;
}

ul {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #fff;
}
.home img{
  max-height: 90%;
  max-width: 100%;
  border-radius: 3px;
  position: absolute;
  bottom: 20%;
}

.menu {
  position: relative;
}

.menu ul {
  list-style: none;
}

.menu li {
  background: black;
  width: 200px;
  margin: 10px;
  padding: 5px;
  text-align: center;
}