body {
  display: inline;
}

ul {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}

.logo{
 font-family: "Saira Stencil One", sans-serif;
 font-size: 45px;
 font-weight: 200;
 font-style: normal;
 color: #000;
}
.home img{
  max-height: 100%;;
  max-width: 100%;
  border-radius: 3px;
  
}

.menu {
  color: #000;
}

.menu li {
  background: red;
  margin: 10px;
  padding: 7px;
  width: 160px;
  border-radius: 10%;
  text-align: center;
}
