body {
  display: inline-block;
}

ul {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.logo{
 font-family: "Saira Stencil One", sans-serif;
 font-size: 45px;
 font-weight: 200;
 font-style: normal;
 color: #000;
 position: relative;
}
.home img{
  max-height: 100%;;
  max-width: 100%;
  border-radius: 3px;
  position: absolute;
  
}

.menu {
  position: relative;
}
