body {
}

ul {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

.logo{
 font-family: "Saira Stencil One", sans-serif;
 font-size: 45px;
 font-weight: 200;
 font-style: normal;
 color: #fff;
 position: relative;
 top: 75%;
}
.home img{
  max-height: 100%;;
  max-width: 100%;
  border-radius: 7px;
  position: absolute;
  
}

.menu {
  color: #fff;
  position: absolute;
  bottom: 45%;
}

.menu button {  
  display: flex;
}

.social {
  display: flex;

}

.social img {
  width: 50px;
  height: 50px;;
  position: relative;
  margin: 10px;
}
